<div class="row">
  <div class="col-md-3 mb-4" *ngFor="let nave of naves">
    <div class="card">
      <img [src]="nave.imagen" class="card-img-top" alt="{{nave.nombre}}">
      <div class="card-body">
        <h5 class="card-title">{{nave.nombre}}</h5>
        <p class="card-text">Fabricante: {{nave.empresa_fabricacion}}</p>
        <p class="card-text">{{nave.descripcion | slice:0:100}}...</p>
        <a (click)="onSelected(nave)" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
</div>

<app-naveDetail *ngIf="selected" [NaveDetail]="selectedNave"></app-naveDetail>

<h3>Naves por bando:</h3>
<p>Rebelión: {{contadorRebelion}}</p>
<p>Imperio: {{contadorImperio}}</p>
<p>Neutral: {{contadorNeutral}}</p>


